#time {
  font-size: 64pt;
}

button {
  width: 16rem;
}

.buttons {
  margin: 1rem;
}

.spacer {
  margin: 2rem;
}

.spacer-smaller {
  margin: 1.5rem;
}

#button-start {
  background-color: #BCB399;
}

#button-reset {
  background-color: #979F86;
}

#button-dec {
  background-color: #CCC;
}

#button-inc {
  background-color: #DDD;
}

.button-row {
  margin: .7rem;
}

img {
  margin: 2rem;
  max-width: 12rem;
}

.text-small {
  font-size: 12pt;
}

.timer-low {
  animation: timer-animation 2s infinite;
}

.flash {
  animation: flash-animation .4s infinite;
}

@keyframes timer-animation {
  0% { color: #DC143C; }
  50% { color: #960E29; }
  100% { color: #DC143C; }
}

@keyframes flash-animation {
  0% { color: black; }
  50% { color: #646464; }
  100% { color: black; }
}
